<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Plato - CMS</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
  </head>
  <body>
    <nav class="main-nav">
      <div class="nav-container">
        <a href={@base_path} class="nav-logo">Plato</a>
        <div class="nav-links">
          <a href={@base_path} class="nav-link">Schemas</a>
          <a href={"#{@base_path}/content"} class="nav-link">Content</a>
        </div>
      </div>
    </nav>

    <%= if Phoenix.Flash.get(@flash, :info) do %>
      <div class="flash info">
        <%= Phoenix.Flash.get(@flash, :info) %>
      </div>
    <% end %>
    <%= if Phoenix.Flash.get(@flash, :error) do %>
      <div class="flash error">
        <%= Phoenix.Flash.get(@flash, :error) %>
      </div>
    <% end %>
    <%= @inner_content %>
  </body>
</html>
